USE [master]
GO
/****** Object:  Database [WSDB]    Script Date: 04.02.2025 18:53:53 ******/
CREATE DATABASE [WSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WSDB', FILENAME = N'C:\Users\Admin\WSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WSDB_log', FILENAME = N'C:\Users\Admin\WSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WSDB]
GO
/****** Object:  Table [dbo].[DepartmentLevel1]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentLevel1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_DepartmentLevel1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentLevel2]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentLevel2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_DepartmentLevel2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentLevel3]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentLevel3](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_DepartmentLevel3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](150) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Patronym] [nvarchar](150) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[WorkPhone] [nvarchar](50) NOT NULL,
	[Room] [nvarchar](50) NOT NULL,
	[WorkEmail] [nvarchar](150) NOT NULL,
	[OrganisationId] [int] NULL,
	[DepartmentLevel1Id] [int] NULL,
	[DepartmentLevel2Id] [int] NULL,
	[DepartmentLevel3Id] [int] NULL,
	[RoleId] [int] NOT NULL,
	[ManagerId] [int] NULL,
	[AssistantId] [int] NULL,
	[Info] [nvarchar](500) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[EventDate] [date] NULL,
	[EventTime] [time](7) NULL,
	[EmployeeId] [int] NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Organisation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingMaterials]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ApproveDate] [date] NULL,
	[EditDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[Author] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrainingMaterials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainings]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Trainings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationCalendar]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
 CONSTRAINT [PK_VacationCalendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationTypes]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VacationTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkingCalendar]    Script Date: 04.02.2025 18:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingCalendar](
	[Id] [bigint] NOT NULL,
	[ExceptionDate] [date] NOT NULL,
	[IsWorkingDay] [bit] NOT NULL,
 CONSTRAINT [WorkingCalendar_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentLevel1] ON 

INSERT [dbo].[DepartmentLevel1] ([Id], [Name], [ParentId]) VALUES (1, N'Административный департамент', 1)
INSERT [dbo].[DepartmentLevel1] ([Id], [Name], [ParentId]) VALUES (2, N'Академия Умные дороги', 1)
INSERT [dbo].[DepartmentLevel1] ([Id], [Name], [ParentId]) VALUES (3, N'Аппарат управления', 1)
SET IDENTITY_INSERT [dbo].[DepartmentLevel1] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentLevel2] ON 

INSERT [dbo].[DepartmentLevel2] ([Id], [Name], [ParentId]) VALUES (1, N'Административный департамент', 1)
INSERT [dbo].[DepartmentLevel2] ([Id], [Name], [ParentId]) VALUES (2, N'Академия Умные дороги', 2)
INSERT [dbo].[DepartmentLevel2] ([Id], [Name], [ParentId]) VALUES (3, N'Аналитический отдел', 9)
SET IDENTITY_INSERT [dbo].[DepartmentLevel2] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentLevel3] ON 

INSERT [dbo].[DepartmentLevel3] ([Id], [Name], [ParentId]) VALUES (1, N'Лицензионный отдел', 17)
INSERT [dbo].[DepartmentLevel3] ([Id], [Name], [ParentId]) VALUES (2, N'Операционный отдел', 16)
INSERT [dbo].[DepartmentLevel3] ([Id], [Name], [ParentId]) VALUES (3, N'Отдел ИТ', 13)
SET IDENTITY_INSERT [dbo].[DepartmentLevel3] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Surname], [Name], [Patronym], [Birthdate], [WorkPhone], [Room], [WorkEmail], [OrganisationId], [DepartmentLevel1Id], [DepartmentLevel2Id], [DepartmentLevel3Id], [RoleId], [ManagerId], [AssistantId], [Info]) VALUES (1, N'Белоусов', N'Семен', N'Агафонович', CAST(N'1971-04-25' AS Date), N'+7 (179) 370-26-88', N'402А', N'белоусов@гкдр.ру', 1, 1, 1, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[Employees] ([Id], [Surname], [Name], [Patronym], [Birthdate], [WorkPhone], [Room], [WorkEmail], [OrganisationId], [DepartmentLevel1Id], [DepartmentLevel2Id], [DepartmentLevel3Id], [RoleId], [ManagerId], [AssistantId], [Info]) VALUES (2, N'Матвеев', N'Вадим', N'Юрьевич', CAST(N'1989-06-20' AS Date), N'+7 (711) 977-16-52', N'402А', N'матвеев@гкдр.ру', 1, 1, 1, NULL, 29, NULL, NULL, NULL)
INSERT [dbo].[Employees] ([Id], [Surname], [Name], [Patronym], [Birthdate], [WorkPhone], [Room], [WorkEmail], [OrganisationId], [DepartmentLevel1Id], [DepartmentLevel2Id], [DepartmentLevel3Id], [RoleId], [ManagerId], [AssistantId], [Info]) VALUES (3, N'Ермакова', N'Юнона', N'Руслановна', CAST(N'1979-04-14' AS Date), N'+7 (210) 088-64-36', N'482', N'ермакова@гкдр.ру', 1, 1, 6, NULL, 22, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Name], [Status], [EventDate], [EventTime], [EmployeeId], [Description]) VALUES (1, N'Корпоративный праздник', N'Planned', CAST(N'2023-12-31' AS Date), CAST(N'18:00:00' AS Time), 1, N'Новый год')
INSERT [dbo].[Events] ([Id], [Name], [Status], [EventDate], [EventTime], [EmployeeId], [Description]) VALUES (2, N'Обучение по безопасности', N'Completed', CAST(N'2023-01-10' AS Date), CAST(N'09:00:00' AS Time), 2, N'Обучение сотрудников по технике безопасности')
INSERT [dbo].[Events] ([Id], [Name], [Status], [EventDate], [EventTime], [EmployeeId], [Description]) VALUES (3, N'Встреча с клиентами', N'Scheduled', CAST(N'2023-02-15' AS Date), CAST(N'14:00:00' AS Time), 3, N'Встреча для обсуждения новых проектов')
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Organisation] ON 

INSERT [dbo].[Organisation] ([Id], [Name], [ParentId]) VALUES (1, N'Дороги России', NULL)
SET IDENTITY_INSERT [dbo].[Organisation] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Административный директор-руководитель аппарата')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Бухгалтер')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Бухгалтер по расчету заработной платы')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingMaterials] ON 

INSERT [dbo].[TrainingMaterials] ([Id], [TrainingId], [Name], [ApproveDate], [EditDate], [Status], [Type], [Area], [Author]) VALUES (1, 1, N'Презентация по основам программирования', CAST(N'2022-12-15' AS Date), CAST(N'2023-01-01' AS Date), N'Approved', N'Presentation', N'IT', N'Иван Иванов')
INSERT [dbo].[TrainingMaterials] ([Id], [TrainingId], [Name], [ApproveDate], [EditDate], [Status], [Type], [Area], [Author]) VALUES (2, 2, N'Руководство по администрированию баз данных', CAST(N'2022-12-20' AS Date), CAST(N'2023-01-10' AS Date), N'Pending', N'Manual', N'Технический отдел', N'Петр Петров')
INSERT [dbo].[TrainingMaterials] ([Id], [TrainingId], [Name], [ApproveDate], [EditDate], [Status], [Type], [Area], [Author]) VALUES (3, 3, N'Видеоуроки командной работы', CAST(N'2022-12-25' AS Date), CAST(N'2023-02-01' AS Date), N'Approved', N'Video', N'HR', N'Сергей Сергеев')
SET IDENTITY_INSERT [dbo].[TrainingMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Trainings] ON 

INSERT [dbo].[Trainings] ([Id], [Name], [StartDate], [EndDate], [EmployeeId]) VALUES (1, N'Основы программирования', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[Trainings] ([Id], [Name], [StartDate], [EndDate], [EmployeeId]) VALUES (2, N'Администрирование баз данных', CAST(N'2023-02-01' AS Date), CAST(N'2023-02-14' AS Date), 2)
INSERT [dbo].[Trainings] ([Id], [Name], [StartDate], [EndDate], [EmployeeId]) VALUES (3, N'Командная работа', CAST(N'2023-03-01' AS Date), CAST(N'2023-03-07' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Trainings] OFF
GO
SET IDENTITY_INSERT [dbo].[VacationCalendar] ON 

INSERT [dbo].[VacationCalendar] ([Id], [TypeId], [EmployeeId], [StartDate], [EndDate]) VALUES (1, 1, 1, CAST(N'2023-06-01' AS Date), CAST(N'2023-06-15' AS Date))
INSERT [dbo].[VacationCalendar] ([Id], [TypeId], [EmployeeId], [StartDate], [EndDate]) VALUES (2, 1, 2, CAST(N'2023-07-01' AS Date), CAST(N'2023-07-14' AS Date))
INSERT [dbo].[VacationCalendar] ([Id], [TypeId], [EmployeeId], [StartDate], [EndDate]) VALUES (3, 2, 3, CAST(N'2023-08-01' AS Date), CAST(N'2023-08-07' AS Date))
SET IDENTITY_INSERT [dbo].[VacationCalendar] OFF
GO
SET IDENTITY_INSERT [dbo].[VacationTypes] ON 

INSERT [dbo].[VacationTypes] ([Id], [Name]) VALUES (1, N'Отпуск')
INSERT [dbo].[VacationTypes] ([Id], [Name]) VALUES (2, N'Отгул')
SET IDENTITY_INSERT [dbo].[VacationTypes] OFF
GO
INSERT [dbo].[WorkingCalendar] ([Id], [ExceptionDate], [IsWorkingDay]) VALUES (1, CAST(N'2024-01-01' AS Date), 0)
INSERT [dbo].[WorkingCalendar] ([Id], [ExceptionDate], [IsWorkingDay]) VALUES (2, CAST(N'2024-01-02' AS Date), 0)
INSERT [dbo].[WorkingCalendar] ([Id], [ExceptionDate], [IsWorkingDay]) VALUES (3, CAST(N'2024-01-03' AS Date), 0)
GO
ALTER TABLE [dbo].[DepartmentLevel1]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLevel1_Organisation] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Organisation] ([Id])
GO
ALTER TABLE [dbo].[DepartmentLevel1] CHECK CONSTRAINT [FK_DepartmentLevel1_Organisation]
GO
ALTER TABLE [dbo].[DepartmentLevel2]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLevel2_DepartmentLevel1] FOREIGN KEY([ParentId])
REFERENCES [dbo].[DepartmentLevel1] ([Id])
GO
ALTER TABLE [dbo].[DepartmentLevel2] CHECK CONSTRAINT [FK_DepartmentLevel2_DepartmentLevel1]
GO
ALTER TABLE [dbo].[DepartmentLevel3]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLevel3_DepartmentLevel2] FOREIGN KEY([ParentId])
REFERENCES [dbo].[DepartmentLevel2] ([Id])
GO
ALTER TABLE [dbo].[DepartmentLevel3] CHECK CONSTRAINT [FK_DepartmentLevel3_DepartmentLevel2]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_DepartmentLevel1] FOREIGN KEY([DepartmentLevel1Id])
REFERENCES [dbo].[DepartmentLevel1] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_DepartmentLevel1]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_DepartmentLevel2] FOREIGN KEY([DepartmentLevel2Id])
REFERENCES [dbo].[DepartmentLevel2] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_DepartmentLevel2]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_DepartmentLevel3] FOREIGN KEY([DepartmentLevel3Id])
REFERENCES [dbo].[DepartmentLevel3] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_DepartmentLevel3]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees1] FOREIGN KEY([AssistantId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees1]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Organisation] FOREIGN KEY([OrganisationId])
REFERENCES [dbo].[Organisation] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Organisation]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Roles]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Employees]
GO
ALTER TABLE [dbo].[TrainingMaterials]  WITH CHECK ADD  CONSTRAINT [FK_TrainingMaterials_Trainings] FOREIGN KEY([TrainingId])
REFERENCES [dbo].[Trainings] ([Id])
GO
ALTER TABLE [dbo].[TrainingMaterials] CHECK CONSTRAINT [FK_TrainingMaterials_Trainings]
GO
ALTER TABLE [dbo].[Trainings]  WITH CHECK ADD  CONSTRAINT [FK_Trainings_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Trainings] CHECK CONSTRAINT [FK_Trainings_Employees]
GO
ALTER TABLE [dbo].[VacationCalendar]  WITH CHECK ADD  CONSTRAINT [FK_VacationCalendar_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[VacationCalendar] CHECK CONSTRAINT [FK_VacationCalendar_Employees]
GO
ALTER TABLE [dbo].[VacationCalendar]  WITH CHECK ADD  CONSTRAINT [FK_VacationCalendar_VacationTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[VacationTypes] ([Id])
GO
ALTER TABLE [dbo].[VacationCalendar] CHECK CONSTRAINT [FK_VacationCalendar_VacationTypes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Идентификатор строки' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'День-исключение' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar', @level2type=N'COLUMN',@level2name=N'ExceptionDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 - будний день, но законодательно принят выходным' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar', @level2type=N'COLUMN',@level2name=N'IsWorkingDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Список дней исключений в производственном календаре' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar'
GO
USE [master]
GO
